@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }
    .steps-header {
        margin: 0 10px 20px;
    }
    .steps-header .steps-wrapper .step {
        padding: 0 15px;
    }
    .steps-header .steps-wrapper .step .step-icon svg {
        width: 20px;
        height: 20px;
    }
    .steps-header .steps-wrapper .step .step-icon svg path {
        fill: #eca077;
    }
    .steps-header .steps-wrapper .step.active .step-icon {
        width: 40px;
        height: 40px;
    }
    .steps-header .steps-wrapper .step.active .step-icon svg {
        width: 19px;
        height: 19px;
    }
    .steps-header .steps-wrapper .step .step-desc .step-title {
        font-size: 17px;
    }
    .form-container {
        padding: 20px 10px;
    }
    .form-step.active {
        gap: 60px;
    }
    .question-wrapper .question {
        font-size: 18px;
    }
    .question-wrapper .answers-wrapper .answer-wrapper .answer {
        font-size: 16px;
    }
}